<nav class="navbar bg-light">
  <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
    </mat-toolbar>
</nav>

<ul class="list-group">
  <li class="list-group-item active" aria-current="true">An active item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>

<!--<p>-->
<!--  <mat-toolbar color="primary">-->
<!--    <mat-toolbar-row>-->
<!--      <span>My App</span>-->
<!--      <span class="example-spacer"></span>-->
<!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-left: 47cm">-->
<!--        <mat-icon>menu</mat-icon>-->
<!--      </button>-->
<!--    </mat-toolbar-row>-->

<!--    <mat-toolbar-row>-->
<!--      <span>Second Line</span>-->
<!--      <span class="example-spacer"></span>-->
<!--      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="margin-left: 45cm">-->
<!--        <mat-icon>favorite</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" >-->
<!--        <mat-icon>share</mat-icon>-->
<!--      </button>-->
<!--    </mat-toolbar-row>-->
<!--  </mat-toolbar>-->
<!--</p>-->
